<div class="container" ng-controller="ComponentListController as componentList">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row container-fluid">
						<h3>{{ title }}</h3>
						<form ng-submit="save(pizza.name, pizza.index)">
							<div class="input-group">
								<input type="text"  placeholder="Nazwa pizzy" class="form-control" ng-model="pizza.name">	
					      <span class="input-group-btn">
									<input type="submit" class="btn btn-default" value="Zapisz" ng-disabled="(!pizza.name || !componentList.selection.length)">
					      </span>
					    </div>
						</form>
					</div>
				</div>
				<div class="panel-body" ng-controller="TabController as tab">
					<ul class="nav nav-tabs nav-justified nav-list-group">
						<li ng-repeat="category in items.categories" ng-class="{ active: tab.isSelected($index) }">
							<a href="" ng-click="tab.selectTab($index)">
								{{ category.name }}
								<span class="badge">{{ componentList.howMany($index + 1) }}</span>
							</a>
						</li>
					</ul>
					<div class="list-group" ng-repeat="category in items.categories" ng-show="tab.isSelected($index)">
						<label class="list-group-item"
							ng-repeat="component in category.items" 
							ng-class="{ active: componentList.selection.indexOf(component) > -1 }">{{ items.components[component].name }}
							<input 
								type="checkbox" 
								ng-click="componentList.toggleSelection(component)" 
								ng-checked="componentList.selection.indexOf(component) > -1" 
								tabindex="-1">
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="container components">
				<img src="img/pusta_pizza.png">
				<div class="layer{{ $index + 1 }}" ng-repeat="category in items.categories">
					<img class="component" 
						ng-repeat="component in category.items" 
						ng-show="componentList.selection.indexOf(component) > -1" 
						ng-src="{{ 'img/' + component + '.png' }}">
				</div>
			</div>
		</div>
	</div>
</div>